@import 'bootstrap/css/bootstrap.min.css';
@import 'dist/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css';
@import 'dist/css/skins/_all-skins.min.css';
@import 'plugins/iCheck/flat/blue.css';
@import 'plugins/iCheck/square/blue.css';
@import 'plugins/morris/morris.css';
@import 'plugins/jvectormap/jquery-jvectormap-1.2.2.css';
@import 'plugins/datepicker/datepicker3.css';
@import 'plugins/daterangepicker/daterangepicker.css';
@import 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css';
@import 'plugins/select2/select2.min.css';
@import 'plugins/datatables/dataTables.bootstrap.css';
@import 'dist/css/AdminLTE.min.css';


@font-face {
    font-family: 'icomoon';
    src:  url('dist/fonts/icomoon.eot?k7zied');
    src:  url('dist/fonts/icomoon.eot?k7zied#iefix') format('embedded-opentype'),
      url('dist/fonts/icomoon.ttf?k7zied') format('truetype'),
      url('dist/fonts/icomoon.woff?k7zied') format('woff'),
      url('dist/fonts/icomoon.svg?k7zied#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-business:before {
    content: "\e90b";
  }
  .icon-logout:before {
    content: "\e90c";
  }
  .icon-marketing:before {
    content: "\e90d";
  }
  .icon-models:before {
    content: "\e90e";
  }
  .icon-my-models:before {
    content: "\e90f";
  }
  .icon-notification:before {
    content: "\e910";
  }
  .icon-questions:before {
    content: "\e911";
  }
  .icon-settings:before {
    content: "\e912";
  }
  .icon-user:before {
    content: "\e913";
  }
  
  .logo-lg img, .logo-mini img {
    width: 35px;
}
.logo-lg img:last-child {
    width: 130px;
}
.height-auto{
    height: auto;;
}  
.row {
    margin-right: -10px;
    margin-left: -10px;
}  
[class^="col-"], [class*=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
.content-wrapper{
    background-image: url(dist/img/mybg.png);
    background-repeat: repeat;
}
.skin-blue .main-header .logo{
    background-color: #25476a!important;
}
.skin-blue .main-header .navbar {
    background-color: #69b43f!important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #183553!important;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #061a2e!important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    background: #69b43f;
}
.skin-blue .sidebar-menu>li>a {
    border-left: 0;
    background-color: #0e233a;
    font-size: 14px;
}
.skin-blue .treeview-menu > li > a {
    color: #e1eaf1!important;
    font-size: 12px;
    padding-left: 40px;
}
.skin-blue .treeview-menu > li.active > a {
    background-color:#25476a;
    color: #fff!important;
}
.sidebar-menu .treeview-menu{
    padding: 5px 0;
}
.skin-blue .sidebar-menu>li.header {
    font-size: 10px;
    padding: 8px 10px;
}
.skin-blue .user-panel>.info {
    padding: 10px 5px 5px 15px;
}
.skin-blue .user-panel>.info>a {
    color: #ccc;
}
.main-footer{
    background: #1b1e24;
    color: #cacaca;
    text-align: left;
    font-size: 12px;
}
.breadcrumb{
    background-color: #e6e6e6;
    margin-bottom: 0;
}
.box {
    border-radius: 0;
    border-top: 0;
    box-shadow: 0 1px 0px #cccccc;
    border: 1px solid #cccccc;
}
.box-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.box-header .box-title{
    font-size: 14px;
    color: #606060;
    font-weight: bold;
    height: auto;
}
.chart-box {
    height: 300px;
}
.small-cube{
    border: 1px solid #ccc;
    background: #fafafa;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    padding: 8px;
    height: 140px;
    margin-bottom: 20px;
}
.search-box{
    border: 1px solid #ccc;
    background: #fafafa;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    padding: 15px;
    margin: 0 0 20px;
}
.searchbtn{
    margin-top: 22px;
    padding: 6px 25px;
}
.box-title{
    font-size: 12px;
    color: #333;
    height: 35px;
    font-weight: bold;
}
.box-title label{
    background-color: #4a4c4f;
    font-size: 9px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    padding: 3px 8px;
    line-height: 10px;
}
.number-big {
    font-size: 40px;
    color: #606060;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-menu>li>a>.icon {
    width: 20px;
    display: inline-block;
}
.select2{
    width: 100%!important;
}
.breadcrumb .fa {
    font-size: 17px;
    margin-right: 10px;
    color: #616161;
}
.skin-blue .main-header .navbar .nav>li>a {
    padding: 12px 15px;
}
.skin-blue .main-header .navbar .nav>li>a .icon {
    font-size: 21px;
}
.login-page, .register-page {
    background: #25476a!important;
}
.login-box-body h3 {
    margin: 0 0 5px;
    text-align: center;
    font-weight: 600;
    color: #333;
    font-size: 22px;
}
.helptip a {
    color: #333;
    white-space: normal!important;
}
.helptip a:hover {
    background-color: #fff;
}
.dropdown-menu>li.header{
    font-weight: bold;
}
.helptip li a{
    padding-left: 50px!important;
    position: relative;
}
.helptip li a .number {
    position: absolute;
    left: 8px;
    top: 12px;
    width: 25px;
    height: 25px;
    border: 1px solid #183553;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #25476a;
    color: #fff;
}
.profile-menu li a {
    padding: 3px 10px;
    position: relative;
}
.profile-menu li a .icon {
    margin-right: 10px;
}
.profile-menu li a span {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 10px;
    background-color: #69b43f;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    line-height: initial;
}
.skin-blue .main-header .navbar .profile-menu .dropdown-menu li a:hover{
    background: #25476a;
    color: #fff;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover{
    background-color: #183553!important;
    border-color: #183553!important;
}

.tgl {
    display: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
.tgl-skewed + .tgl-btn {
    overflow: hidden;
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: all .2s ease;
    font-family: sans-serif;
    background: #888;
  }
  .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
  }
  .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
  }
  .tgl-skewed + .tgl-btn:active {
    background: #888;
  }
  .tgl-skewed + .tgl-btn:active:before {
    left: -10%;
  }
  .tgl-skewed:checked + .tgl-btn {
    background: #25476a;
  }
  .tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
  }
  .tgl-skewed:checked + .tgl-btn:after {
    left: 0;
  }
  .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
  }
 .progress-label.bg-success {
    background-color: #69b43f;
}
.progress-label{
    color: #fff;
    padding: 2px 10px;
    font-size: 11px;
}
.search-box .form-group{
    margin-bottom: 0;
}
.bg-light-gray{
    background-color: #f1f1f1;
}
.bg-primary.details-label {
    background-color: #d9edf7;
    color: #333;
}
.inner-heading {
    margin: 0 0 10px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: #183553;
}
.inner-sub-heading {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}
.template-styling .select2-selection {
    background-color: #eaf2fb;
}
.mt-20{
    margin-top:20px;
}
.mt-22{
    margin-top:22px;
}

@media (max-width: 1200px){
    .createbtn{
        margin-top:0;
    }
}

@media (max-width: 991px){
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    right: 0;
}
}
@media (max-width: 767px) {
    .searchbtn {
        margin-top: 0;
    }
    .profile-menu li a {
        padding: 3px 10px!important;
    }
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #333;
    }
    .skin-blue .main-header .navbar .dropdown-menu li a:hover {
        background: #25476a;
        color: #fff;
    }
    .search-box .form-group{
        margin-bottom: 15px;
    }
}